.h1 {
    font-size: 4.5rem;
    line-height: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    scroll-margin: 5rem;
    text-align: center;
    margin: 30px;
}
* {
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-family: 'Work Sans';
}
body {
    font-family: 'Merriweather';
}
.frame-container {
    margin-top: 60px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: #F8F8F8;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 40px;
    min-height: 40em;
}
ul {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    list-style-type: disc;
    list-style-position: outside;
}
.frame {
    width: 40vw;
    height: 35em;
    border: 2px solid #ccc;
}
h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    scroll-margin: 5rem;
    margin-bottom: 8px;
}

p {
    line-height: 1.45rem;
}
.underline {
    border-bottom: 3px solid #0899ac;
}
.text-gradient {
    background-clip: text;
    background-image: linear-gradient(to right, rgb(99 102 241), rgb(168 85 247));
    color: transparent;
}